@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Mingzat&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: "ChocolateBox";
  src: url(../assets/fonts/ChocolateBoxDecorative-Regular.TTF);
  font-weight: 400;
}
@font-face {
  font-family: "ChocolateBox";
  src: url(../assets/fonts/ChocolateBox-Regular.TTF);
  font-weight: 400;
}
h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

body {
  background: #000;
}

.header__content {
  display: flex;
  align-items: center;
}
.header__suptitle {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 12px;
  color: #FFFFFF;
}
.header__img {
  margin-right: 113px;
  margin-left: 312px;
}
.header__list {
  display: flex;
}
.header__item {
  margin-right: 46px;
  display: flex;
}
.header__link {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 12px;
  color: #FFFFFF;
  transition: 0.5s;
}
.header__link:hover {
  color: #E2B024;
}
.header__icon {
  margin-left: 36px;
  display: flex;
}

.hero {
  margin-top: 13px;
}
.hero__content {
  display: flex;
  align-items: center;
}
.hero__list {
  display: flex;
}
.hero__item {
  padding-left: 80px;
}
.hero__link {
  font-family: "ChocolateBox";
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
  transition: 0.5s;
}
.hero__link:hover {
  color: #E2B024;
  text-decoration: underline;
}
.hero__line {
  border: 1px solid rgba(255, 255, 255, 0.6);
  height: 0px;
  max-width: 1170px;
  margin: 22px 0px 22px 0px;
  align-items: center;
}

@media screen and (max-width: 1175px) {
  .hero__content {
    max-width: 100%;
  }
}
.bottle {
  margin-top: 190px;
}
.bottle__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bottle__suptitle {
  font-family: "ChocolateBox";
  font-weight: 400;
  font-size: 24px;
  color: #FFFFFF;
}
.bottle__title {
  font-family: "ChocolateBox";
  font-weight: 400;
  font-size: 96px;
  color: #FFFFFF;
}
.bottle__text {
  font-family: "ChocolateBox";
  font-weight: 400;
  font-size: 96px;
  color: #E2B024;
}
.bottle__description {
  font-family: "Poppins";
  font-weight: 300;
  font-size: 16px;
  color: #FFFFFF;
  max-width: 745px;
  margin-top: 24px;
  margin-bottom: 35px;
}
.bottle__link {
  font-family: "ChocolateBox";
  font-weight: 400;
  font-size: 16px;
  color: #E2B024;
  text-decoration: underline;
  transition: 0.5s;
}
.bottle__link:hover {
  color: #fff;
}

@media screen and (max-width: 746px) {
  .bottle__content {
    display: flex;
    align-items: center;
  }
  .bottle__description {
    max-width: 100%;
  }
  .bottle__icon {
    max-width: 100%;
  }
}
.merlot {
  margin-top: 267px;
  background: #18191A;
}
.merlot__content {
  display: flex;
  padding: 143px;
}
.merlot__text {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
}
.merlot__title {
  font-family: "ChocolateBox";
  font-weight: 400;
  font-size: 74px;
  color: #E2B024;
  margin: 47px 0px 12px 0px;
}
.merlot__suptitle {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 36px;
  color: #FFFFFF;
  margin: 52px 0px 64px 0px;
  max-width: 526px;
}
.merlot__description {
  font-family: "Poppins";
  font-weight: 300;
  font-size: 18px;
  color: #FFFFFF;
  max-width: 526px;
  margin-bottom: 64px;
}
.merlot__btn--white {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 24px;
  color: #000000;
  background: #E2B024;
  border: 1px solid #E2B024;
  padding: 23px 48px 22px 47px;
  transition: 0.5s;
}
.merlot__btn--black {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 24px;
  color: #FFFFFF;
  background: #18191A;
  border: 1px solid #E2B024;
  padding: 23px 52px 22px 52px;
  margin: 64px 65px 0px 61px;
  transition: 0.5s;
}
.merlot__btn--white:hover {
  color: #E2B024;
  background: #1F1F1F;
}
.merlot__btn--black:hover {
  color: #E2B024;
  background: #1F1F1F;
}
.merlot__vector {
  border: 10px solid #E2B024;
  padding: 90px;
  max-width: 374px;
  height: 374px;
  margin-left: 65px;
}
.merlot__img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px;
  max-width: 374px;
  height: 374px;
  background: #E2B024;
  border-radius: 50%;
  border: 65px;
}
.merlot__icon {
  width: 210px;
  height: 690px;
}

@media screen and (max-width: 943px) {
  .merlot__content {
    display: flex;
    flex-direction: column;
  }
  .merlot__vector {
    max-width: 100%;
  }
}
.futured {
  margin-top: 151px;
}
.futured__content {
  text-align: center;
}
.futured__title {
  font-family: "ChocolateBox";
  font-weight: 400;
  font-size: 48px;
  color: #E2B024;
  margin-bottom: 89px;
}
.futured__text {
  font-family: "ChocolateBox";
  font-weight: 400;
  font-size: 48px;
  color: #FFFFFF;
  margin-bottom: 89px;
}
.futured__list {
  display: flex;
  justify-content: center;
}
.futured__link {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 24px;
  color: #FFFFFF;
  margin-right: 72px;
}
.futured__line {
  border: 1px solid #FFFFFF;
  max-width: 417px;
  height: 0px;
}
.futured__box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
}
.futured__case {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin-top: 95px;
}
.futured__btn {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  background: #E2B024;
  padding: 10px 16px 9px 15px;
  border: 1px solid #E2B024;
  transition: 0.5s;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 20;
}
.futured__btn:hover {
  color: #E2B024;
  background: #000;
}
.futured__name {
  font-family: "ChocolateBox";
  font-weight: 400;
  font-size: 24px;
  color: #FFFFFF;
}
.futured__price--old {
  font-family: "Poppins";
  font-weight: 300;
  font-size: 16px;
  color: #E2B024;
}
.futured__price--new {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 24px;
  color: #E2B024;
}
.futured__info {
  font-family: "ChocolateBox";
  font-weight: 400;
  font-size: 18px;
  color: #E2B024;
  text-decoration: underline;
  display: flex;
  justify-content: center;
  margin-top: 81px;
  margin-bottom: 167px;
  transition: 0.5s;
}
.futured__info:hover {
  color: #FFFFFF;
}
.futured__item {
  position: relative;
  width: 205px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 1031px) {
  .futured__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .futured__box {
    display: flex;
    flex-wrap: wrap;
  }
  .futured__case {
    display: flex;
    flex-wrap: wrap;
  }
}
.client {
  margin-top: 174px;
  background: url(../assets/img/client/wine-icon.jpg);
  max-height: 774px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 154px;
  padding-bottom: 124px;
}
.client__content {
  text-align: center;
  opacity: 0.8;
}
.client__title {
  font-family: "ChocolateBox";
  font-weight: 400;
  font-size: 48px;
  color: #FFFFFF;
}
.client__text {
  font-family: "ChocolateBox";
  font-weight: 400;
  font-size: 48px;
  color: #E2B024;
}
.client__img {
  margin-top: 58px;
}
.client__name {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
  margin: 30px 0px 31px 0px;
}
.client__description {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
  max-width: 1062px;
  margin-bottom: 19px;
}

@media screen and (max-width: 1132px) {
  .client__content {
    max-width: 100%;
  }
}
.offer {
  margin-top: 163px;
  text-align: center;
}
.offer__title {
  font-family: "ChocolateBox";
  font-weight: 400;
  font-size: 48px;
  color: #FFFFFF;
  margin-bottom: 97px;
}
.offer__text {
  font-family: "ChocolateBox";
  font-weight: 400;
  font-size: 48px;
  color: #E2B024;
  margin-bottom: 97px;
}
.offer__box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 59px;
}
.offer__name {
  font-family: "ChocolateBox";
  font-weight: 400;
  font-size: 24px;
  color: #FFFFFF;
}
.offer__price {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 36px;
  color: #FFFFFF;
}
.offer__artemis {
  background: url(../assets/img/offer/artemis.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 370px;
  height: 558px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
}
.offer__pope {
  background: url(../assets/img/offer/pope-icon.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 370px;
  height: 637px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
}
.offer__valley {
  background: url(../assets/img/offer/valley-icon.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 370px;
  height: 558px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
}
.offer-swiper .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #E2B024;
}
.offer-swiper .swiper-pagination-bullet {
  background: #FFFFFF;
  color: #FFFFFF;
}
.offer-swiper .swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 49px;
}
.offer-swiper .swiper-pagination-bullet {
  height: 20px;
  width: 20px;
}

@media screen and (max-width: 1004px) {
  .offer__content {
    display: flex;
    flex-wrap: wrap;
  }
}
.featured {
  margin-top: 155px;
  margin-bottom: 150px;
}
.featured__case {
  display: flex;
  align-items: center;
  background: #18191A;
}
.featured__title {
  font-family: "ChocolateBox";
  font-weight: 400;
  font-size: 48px;
  color: #FFFFFF;
  margin-bottom: 58px;
  text-align: center;
}
.featured__text {
  font-family: "ChocolateBox";
  font-weight: 400;
  font-size: 48px;
  color: #E2B024;
  text-align: center;
}
.featured__box {
  display: flex;
  background: url(../assets/img/featured/box-icon.jpg);
  max-width: 1170px;
  height: 410px;
  margin-top: 58px;
}
.featured__suptitle {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 24px;
  color: #FFFFFF;
  margin: 65px 0px 8px 30px;
}
.featured__date {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
  margin-left: 30px;
}
.featured__description {
  font-family: "Poppins";
  font-weight: 300;
  font-size: 18px;
  color: #FFFFFF;
  margin: 44px 258px 45px 30px;
}
.featured__link {
  font-family: "ChocolateBox";
  font-weight: 400;
  font-size: 18px;
  color: #E2B024;
  text-decoration: underline;
  margin: 0px 0px 89px 30px;
  transition: 0.5s;
}
.featured__link:hover {
  color: #FFFFFF;
}

.swiper-button-next {
  display: flex;
  align-items: center;
  padding: 20px 27px 20px 27px;
  width: 65px;
  height: 65px;
  color: #E2B024;
  border-radius: 50%;
  border: 1.5px solid #E2B024;
  margin-left: 56px;
}

.swiper-button-prev {
  display: flex;
  align-items: center;
  padding: 20px 27px 20px 27px;
  width: 65px;
  height: 65px;
  color: #E2B024;
  border-radius: 50%;
  border: 1.5px solid #E2B024;
  margin-right: 56px;
}

@media screen and (max-width: 941px) {
  .featured__content {
    max-width: 100%;
  }
  .featured__case {
    display: flex;
  }
}
.contact {
  margin-top: 150px;
}
.contact__content {
  display: flex;
  flex-direction: column;
}
.contact__box {
  display: flex;
  justify-content: space-around;
}
.contact__title {
  font-family: "ChocolateBox";
  font-weight: 400;
  font-size: 48px;
  color: #FFFFFF;
  margin-bottom: 101px;
  display: flex;
  justify-content: center;
}
.contact__text {
  font-family: "ChocolateBox";
  font-weight: 400;
  font-size: 48px;
  color: #E2B024;
}
.contact__description {
  font-family: "Poppins";
  font-weight: 300;
  font-size: 18px;
  color: #FFFFFF;
  max-width: 466px;
}
.contact__list {
  margin-top: 77px;
}
.contact__item {
  margin-bottom: 42px;
}
.contact__link {
  font-family: "Poppins";
  font-weight: 300;
  font-size: 18px;
  color: #FFFFFF;
  transition: 0.5s;
}
.contact__link:hover {
  color: #E2B024;
  text-decoration: underline;
}
.contact__icon {
  margin-right: 27px;
}
.contact__img {
  margin-top: 66px;
  margin-left: 56px;
}
.contact__input {
  margin-left: 35px;
}
.contact__name {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 24px;
  color: #FFFFFF;
}
.contact__email {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 24px;
  color: #FFFFFF;
  max-width: 670px;
  height: 64px;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  background: #000;
}
.contact__message {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 24px;
  color: #FFFFFF;
  max-width: 670px;
  height: 133px;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  background: #000;
  margin-bottom: 29px;
}
.contact__btn {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 35px;
  color: #000000;
  background: #E2B024;
  padding: 10px 54px 10px 54px;
  border: 1px solid #E2B024;
  margin-bottom: 29px;
}
.contact__btn:hover {
  color: #E2B024;
  background: #000;
}

@media screen and (max-width: 781px) {
  .contact__box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.sletter {
  margin-top: 150px;
  background: #18191A;
  padding-top: 57px;
  padding-bottom: 63px;
}
.sletter__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sletter__title {
  font-family: "ChocolateBox";
  font-weight: 400;
  font-size: 48px;
  color: #E2B024;
  margin-top: 57px;
  margin-bottom: 24px;
}
.sletter__suptitle {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
  margin-bottom: 69px;
}
.sletter__box {
  width: 570px;
  height: 64px;
  background: #000000;
  border: 1px solid #000;
  display: flex;
}
.sletter__email {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
  width: 443px;
  height: 64px;
  background: #000;
  border: 1px solid #000;
  padding-right: 34px;
}
.sletter__btn {
  font-family: "Poppins";
  font-weight: 300;
  font-size: 18px;
  color: #000000;
  background: #E2B024;
  border: 1px solid #E2B024;
  padding: 19px 18px 19px 18px;
}

@media screen and (max-width: 600px) {
  .sletter__suptitle {
    max-width: 100%;
  }
  .sletter__box {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }
}
.footer__content {
  display: flex;
  justify-content: space-evenly;
}
.footer__box {
  margin-top: 133px;
}
.footer__title {
  font-family: "ChocolateBox";
  font-weight: 400;
  font-size: 24px;
  color: #E2B024;
  margin-bottom: 42px;
  margin-right: 180px;
}
.footer__item {
  margin-bottom: 15px;
}
.footer__link {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
  transition: 0.5s;
}
.footer__link:hover {
  color: #E2B024;
  text-decoration: underline;
}
.footer__img {
  margin-right: 44px;
  margin-bottom: 29px;
  text-align: center;
}
.footer__copyright {
  margin-top: 92px;
}
.footer__line {
  border: 1px solid rgba(255, 255, 255, 0.6);
}
.footer__description {
  font-family: "Poppins";
  font-weight: 300;
  font-size: 16px;
  color: #FFFFFF;
  text-align: center;
  margin-top: 22px;
  margin-bottom: 42px;
}

@media screen and (max-width: 1140px) {
  .footer__content {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
}/*# sourceMappingURL=index.css.map */