@font-face {
    font-family: 'ChocolateBox';
    src: url(/assets/fonts/C_BOX.TTF);
    font-weight: 400;
}
@font-face {
    font-family: 'ChocolateBox';
    src: url(/assets/fonts/C_BOX_D.TTF);
    font-weight: 400;
}