@font-face{
    font-family: 'ChocolateBox';
    src: url(../assets/fonts/ChocolateBoxDecorative-Regular.TTF);
    font-weight: 400;
}
@font-face{
    font-family: 'ChocolateBox';
    src: url(../assets/fonts/ChocolateBox-Regular.TTF);
    font-weight: 400;
}
