.bottle{
    margin-top: 190px;
    &__content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__suptitle{
        @include font('ChocolateBox', 400, 24px, $white);
    }
    &__title{
        @include font('ChocolateBox', 400, 96px, $white);
    }
    &__text{
        @include font('ChocolateBox', 400, 96px, $gold);
    }
    &__description{
        @include font('Poppins', 300, 16px, $white);
        width: 745px;
        margin-top: 24px;
        margin-bottom: 35px;
    }
    &__link{
        @include font('ChocolateBox', 400, 16px, $gold);
        text-decoration: underline;
        transition: 0.5s;
    }
    &__link:hover{
        color: #fff;
    }
}

@media screen and (max-width:){
    
}
