.contact{
    margin-top: 150px;
    &__content{
        display: flex;
        flex-wrap: wrap;
    }
    &__title{
        @include font('ChocolateBox', 400, 48px, $white);
    }
    &__text{
        @include font('ChocolateBox', 400, 48px, $gold);
    }
    &__description{
        @include font('Poppins', 300, 18px, $white);
    }
    &__list{
        margin-top: 77px;
    }
    &__item{
        margin-bottom: 42px;
    }
    &__link{
        @include font('Poppins', 300, 18px, $white);
        transition: 0.5s;
    }
    &__link:hover{
        color: #E2B024;
        text-decoration: underline;
    }
    &__icon{
        margin-right: 27px;
    }
    &__img{
        margin-top: 66px;
        margin-left: 56px;
    }
    &__name{
        box-sizing: border-box;
    }
    &__name{
        @include font('Poppins', 400, 24px, $white);
        width: 670px;
        height: 64px;
    }
}
.input {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
}