header{
    background: #E5E5E5
    header__content{

    }
    header__list{

    }
    header__item{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        /* identical to box height */
        
        
        color: #FFFFFF;
    }
    header__link{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        /* identical to box height */
        
        
        color: #FFFFFF;
    }
}
