.header{
    &__content{
        display: flex;
        align-items: center;
    }
    &__suptitle{
        @include font('Poppins', 400, 12px, $white);
    }
    &__img{
        margin-right: 113px;
        margin-left: 312px;
    }
    &__list{
        display: flex;
    }
    &__item{
        margin-right: 46px;
        display: flex;
    }
    &__link{
        @include font('Poppins', 400, 12px, $white);
        transition: 0.5s;
    }
    &__link:hover{
        color: #E2B024;
    }
    &__icon{
        margin-left: 36px;
        display: flex;
    }
}

